@import '../utils/variables';

.main-title {
  background-color: $background-gray;
  padding: 24px;
  font-family: 'franklin-gothic-urw-con-sc', serif;
  text-transform: uppercase;
  font-size: 3.6em;
  z-index: 2;
  // border: 2px solid $dark;
  // width: 250px;
  // height: 250px;
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.cell {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}

.components-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 30px 120px;
}
