$dark: hsla(0,0%,0%,0.8);

body {
  background-color: #eee;
  font-size: 16px;
  font-family: 'Europa', sans-serif;
}

.header {
  font-size: 3em;
  margin-top: 200px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  font-family: 'Turquoise', serif;
  font-weight: 700;
  line-height: 1.2em;
}

.navigation {
  margin-bottom: 40px;

  .nav-link-container {
    margin-bottom: 3px;

    a {
      font-size: 1.2em;
    }
  }
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

hr {
  background-color: $dark;
  height: 3px;
  width: 46px;
  margin: 40px 0;
}

a {
  font-family: 'brandon-grotesque';
  position: relative;

  &:active, &:hover, &:link, &:focus, &:visited {
    color: $dark;
    text-decoration: none;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: $dark;
    transition: 0.3s ease-in-out all 0s;
    -webkit-transition: 0.3s ease-in-out all 0s;
  }

  &:hover:before {
    width: 100%;
  }
}

.footer {
  font-size: 1.4em;
  font-weight: 500;
  font-family: 'brandon-grotesque';
}

.home-link {
  font-size: 1.2em;
}